.steps {
  background: #feffde;
  position: relative;
  z-index: 2;
  .step-1,
  .step-2,
  .step-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-content: center;
    align-items: center;
    height: calc(100vh - 136px);
    padding: 0;
    padding-bottom: 50px;
    gap: 10%;
  }
  .content {
    min-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &::before {
      content: '';
      color: #00482652;
      font-weight: 900;
      position: absolute;
      font-size: 200px;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Train One';
    }
    h2 {
      color: rgb(173 126 134);
      padding: 25px 0;
      text-shadow: -2px 3px 2px black;
    }
    p {
      line-height: 2em;
      font-size: 18px;
      color: #000;
      line-height: 1.9em;
    }
  }

  .images {
    min-width: 260px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .step-1 {
    .content::before {
      content: '01';
    }
    .images {
      img:first-of-type {
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        border: 1px solid #ad7e86;
        object-fit: cover;
        border-radius: 8px;
        height: 70%;
      }
      img:last-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 70%;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #344a33;
      }
    }
  }
  .step-2 {
    .content::before {
      content: '02';
    }
    .images {
      img:first-of-type {
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        border: 1px solid #ad7e86;
        object-fit: cover;
        border-radius: 8px;
        height: 60%;
      }
      img:last-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 60%;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #344a33;
      }
    }
  }
  .step-3 {
    z-index: 9;
    .content::before {
      content: '03';
    }
    .images {
      img:first-of-type {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        border: 1px solid #ad7e86;
        object-fit: cover;
        border-radius: 8px;
        height: 50%;
      }
      img:nth-of-type(2) {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 50%;
        height: 60%;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #344a33;
      }
      img:last-of-type {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 40%;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #344a33;
      }
    }
  }
}
@media (min-width: 768px) {
  .steps {
    padding: 0;
  }
  .container {
    padding: 0 98px !important;
  }
}
@media (min-width: 992px) {
  .steps {
    .container {
      .content {
        width: 45%;
        height: 100%;
      }
      .images {
        width: 45%;
        height: 100%;
      }
    }
  }
}
